.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h4#fakeLabel.modal-title Messages
.modal-body
  each message in messages
    - var x = message.senderId.toString() === locals.user._id.toString() ? 'To' : 'From';
    ul
      li #{x}: #{chatPartner.username}
      li= message.body
.modal-footer
  textarea#messageText(rows=1, cols=50)
  button#sendMessage.btn.btn-primary(type='button' data-chatpartnerid=chatPartner._id.toString()) Send Message