glyphicon-home:before{
  margin-right:5px;
}

.glyphicon-user:before{
  margin-right:5px;
}

.glyphicon-search:before{
  margin-right:5px;
}



html body{
  height:100%;
  background-color:#171717;
}


#imgContainer{
  position:relative;

  #divButton{
    position:absolute;
    top:10px;
    left:47.5%;
    background-color:red;
    height:50px;
    width:50px;
  }

  #logo{
    height:30%;
    width:40%;
    margin: 0% 30%;
  }

}
