.glyphicon-home:before,
.glyphicon-user:before,
.glyphicon-search:before,
.glyphicon-list:before,
.glyphicon-send:before,
.glyphicon-off:before,
.glyphicon-pencil:before,
.glyphicon-log-in:before,{
  margin-right:7px;
}// nav-bar glyph margin

html body{
  height:100%;
  background-color:#171717;
}// background color

.navbar.navbar-inverse{
  width:100%;
}

#gender1{
  margin-left:15px;
  margin-right:5px;
  #male{
    margin-right:5px;
  }
}
#gender2{
  margin-left:25px;
  margin-right:5px;
}

// END STOCK CSS


// NAVBAR MESSAGING
.message-from{
  border-radius:5px;
  background-color:white;
  width:210px;
  position:relative;
  display:inline-block;
  .from.from-pic{
    position:relative;
    bottom:5px;
    left:5px;
    display:inline-block;
    border-radius: 4px;
    width:40px;
    height: 40px;
  }
  .message-body{
    margin-left:5px;
    display:inline-block;
    position:relative;
    left:10px;
    top:5px;
    max-width:150px;
  }
}
//
// .message-to{
//   width:205px;
//   position:relative;
//   display:inline-block;
//   .to.to-pic{
//     border-radius: 4px;
//     display:inline-block;
//     width:40px;
//     height: 40px;
//   }
//   .message-body-to{
//     margin-right:5px;
//     display:inline-block;
//     position:relative;
//     left:10px;
//     top:10px;
//     max-width:160px;
//   }
// }

// END NAVBAR MESSAGING








// SEARCH PAGE YALL

#results{
  display:inline-block;
  width:100%;
  .gameContainer.well{
    margin-right:25px;
    margin-top:5px;
    display:inline-block;
    width:200px;
    img.image{
      height:200px;
      width:150px;
    }
  }
}
// END SEARCH PAGE












// LANDING PAGE

#imgContainer{
  position:relative;
  margin-top:5%;

  #divButton{
    position:absolute;
    top:34%;
    left:43%;
    height:36.5%;
    width:14%;
  }

  #logo{
    height:30%;
    width:40%;
    margin: 0% 30%;
  }
}

// END LANDING PAGE



// DASHBOARD CAROUSEL
#carousel-example-generic{
  width:50%;
  margin-left:25%;
  .carousel-inner{
    .item{
      width:20%;
      margin-left:40%;
      img{
        width:100%;
      }
      .carousel-caption{
        position:static;
        width:100%;
      }
    }
  }
}// END CAROUSEL
#carouselTitle{
  color:white;
}
// END DASHBOARD





// PROFILE PAGE
#profile.well{
  color:white;
  background-image:none;
  background-color:#393939;
  margin-left:15%;
  position:relative;
  display:inline-block;
  width:70%;
  #photos.well{
    position:relative;
    color:inherit;
    background:inherit;
    width:15%;
    height:150px;
  }
  #info{
    position:relative;
    color:inherit;
    background:inherit;
    position:absolute;
    top:20px;
    right:20px;
    height:150px;
    width:80%;
  }
  #about{
    position:relative;
    color:inherit;
    background:inherit;
    width:100%;
  }
  #photos, #info, #about{
    btn-primary{
      border-color:none;
    }

    button.btn.btn-primary.btn-sm{
      background-image:none;
      border-color:none !important;
      background-color:rgba(39,39,39,.5);
      position:absolute;
      right:0;
      top:0;
    }
  }
}

.modal{
  color:black;
}

//END PROFILE PAGE


// TEXT AREAS LOL
.modalText{
  resize:none;
}
#messageText{
  resize:none;
  position:relative;
  top:13px;
  height:34px;
  margin-right:5px;
  line-height:30px;
  overflow:hidden;
}





// -PAGE END
