.glyphicon-home:before,
.glyphicon-user:before,
.glyphicon-search:before,
.glyphicon-list:before,
.glyphicon-send:before,
.glyphicon-off:before,
.glyphicon-pencil:before,
.glyphicon-log-in:before,{
  margin-right:7px;
}// nav-bar glyph margin

html body{
  height:100%;
  background-color:#171717;
}// background color

.navbar.navbar-inverse{
  width:100%;
}

#gender1{
  margin-left:15px;
  margin-right:5px;
  #male{
    margin-right:5px;
  }
}
#gender2{
  margin-left:25px;
  margin-right:5px;
}

// END STOCK CSS


// NAVBAR MESSAGING
.message-from{
  border-radius:5px;
  background-color:white;
  width:210px;
  position:relative;
  display:inline-block;
  .from.from-pic{
    position:relative;
    bottom:5px;
    left:5px;
    display:inline-block;
    border-radius: 4px;
    width:40px;
    height: 40px;
  }
  .message-body{
    margin-left:5px;
    display:inline-block;
    position:relative;
    left:10px;
    top:5px;
    max-width:150px;
  }
}
//
// .message-to{
//   width:205px;
//   position:relative;
//   display:inline-block;
//   .to.to-pic{
//     border-radius: 4px;
//     display:inline-block;
//     width:40px;
//     height: 40px;
//   }
//   .message-body-to{
//     margin-right:5px;
//     display:inline-block;
//     position:relative;
//     left:10px;
//     top:10px;
//     max-width:160px;
//   }
// }

// END NAVBAR MESSAGING








// SEARCH PAGE YALL

#results{
  display:inline-block;
  width:100%;
  .gameContainer.well{
    margin-right:25px;
    margin-top:5px;
    display:inline-block;
    width:200px;
    img.image{
      height:200px;
      width:150px;
    }
  }
}
// END SEARCH PAGE











// LANDING PAGE

#imgContainer{
  position:relative;
  margin-top:5%;

  #divButton{
    position:absolute;
    top:34%;
    left:43%;
    height:36.5%;
    width:14%;
  }

  #logo{
    height:30%;
    width:40%;
    margin: 0% 30%;
  }
}

// END LANDING PAGE



// DASHBOARD CAROUSEL
#carousel-example-generic{
  width:50%;
  margin-left:25%;
  .carousel-inner{
    .item{
      width:20%;
      margin-left:40%;
      img{
        width:100%;
      }
      .carousel-caption{
        position:static;
        width:100%;
      }
    }
  }
}// END CAROUSEL
#carouselTitle{
  color:white;
}
.heading{
  position: relative;
  width: 30em;
  margin-left: 50%;
  right: 15em;
  text-align: center;
  margin-top: 5em;
}

.search{
  position: relative;
  margin-left:50%;
  right: 134px;
}

// Love Life Button
// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
//
// .btn{
// 	background: -webkit-linear-gradient(top, #fff 0%,rgba(255,255,255,0.1) 3%),-webkit-linear-gradient(bottom, #e9e4e0 0%,rgba(255,255,255,0.1) 3%), -webkit-linear-gradient(top, #e5e0d8 0%,#f9f6f1 100%);
// 	width: 100px;
// 	height: 100px;
// 	display: block;
// 	border-radius: 10px;
// 	margin:0px auto;
// 	box-shadow: 0px -3px 0px #d2cdc4, 0px 0px 0px 4px #777069, 0px -2px 0px 4px #777069, 0px 0px 0px 10px #f9f6f2, 0px -2px 0px 10px #f9f6f2, 0px 0px 0px 11px #f0ebe7, 0px -2px 0px 11px #f0ebe7, 0px 0px 0px 20px #f9f6f2, 0px 4px 1px 20px #e4e1dc, 0px -4px 0px 20px #fdfcfb, 0px 4px 20px 20px #000;
// 	margin-top: 50px;
// }
// .btn:after{
// 	content: '';
// 	width: 25px;
// 	height: 8px;
// 	margin: 15px 37px;
// 	box-shadow: 0px 1px 3px rgba(0,0,0,0.4) inset, 0px 1px 0px #fff;
// 	border-radius: 15px;
// 	background: #f8d608;
// 	position: absolute;
// }
// .btn:active{
// 	background: -webkit-linear-gradient(bottom, #e9e4e0 0%,rgba(255,255,255,0.1) 3%), -webkit-linear-gradient(top, #e5e0d8 0%,#f9f6f1 100%);
// 	box-shadow: 0px -4px 0px #d2cdc4 inset, 0px -3px 0px #e5e0d8, 0px 0px 0px 4px #777069, 0px -2px 0px 4px #777069, 0px 0px 0px 10px #f9f6f2, 0px -2px 0px 10px #f9f6f2, 0px 0px 0px 11px #f0ebe7, 0px -2px 0px 11px #f0ebe7, 0px 0px 0px 20px #f9f6f2, 0px 4px 1px 20px #e4e1dc, 0px -4px 0px 20px #fdfcfb, 0px 4px 20px 20px #000;
// }
// .btn:active:after{
//   margin: 13px 37px;
// }

// END DASHBOARD





// PROFILE PAGE
#profile.well{
  color:white;
  background-image:none;
  background-color:#393939;
  margin-left:15%;
  position:relative;
  display:inline-block;
  width:70%;
  #profilePic.well{
    position:relative;
    color:inherit;
    background:inherit;
    width:15%;
    height:150px;
  }
  #info{
    position:relative;
    color:inherit;
    background:inherit;
    position:absolute;
    top:20px;
    right:20px;
    height:150px;
    width:80%;
  }
  #about{
    position:relative;
    color:inherit;
    background:inherit;
    width:100%;
  }
  #profilePic, #info, #about{
    btn-primary{
      border-color:none;
    }

    button.btn.btn-primary.btn-sm{
      background-image:none;
      border-color:none !important;
      background-color:rgba(39,39,39,.5);
      position:absolute;
      right:0;
      top:0;
    }
  }
}

.modal{
  color:black;
}

//END PROFILE PAGE


// TEXT AREAS LOL
#modalText{
  resize:none;
}
#messageText{
  resize:none;
  position:relative;
  top:13px;
  height:34px;
  margin-right:5px;
  line-height:30px;
  overflow:hidden;
}





// -PAGE END
