extends ../shared/template

block content

  h1(style='color:white') Browse Locals in Your Area!!!!!!
  select#orientation
    option(name='straight' value='straight') Straight
    option(name='gay', value='gay') Gay
    option(name='bi', value='bi') Bi

  select#sex
    option(name='male' value='male') Male
    option(name='female', value='female') Female

  select#distance
    option(name='25' value='25') 25 Miles
    option(name='50' value='50') 50 Miles
    option(name='100' value='100') 100 Miles
    option(name='150' value='150') 150 Miles
    option(name='anywhere' value='anywhere') Anywhere

block scripts
