extends ../shared/template

block content



  h1(style='color:white; text-align:center') Browse Players
  #browse.well
    select#orientation.form-control(name='orientation')
      option(name='straight' value='straight') Straight
      option(name='gay', value='gay') Gay
      option(name='bi', value='bi') Bi

    select#sex.form-control(name='sex')
      option(name='male' value='male') Male
      option(name='female', value='female') Female

    //- select#games.selectpicker

    select#distance.form-control(name='distance')
      option(name='25' value='25') 25 Miles
      option(name='50' value='50') 50 Miles
      option(name='100' value='100') 100 Miles
      option(name='150' value='150') 150 Miles
      option(name='anywhere' value='anywhere') Anywhere

    button#filterSpecifity filter matches






  #carouselBrowse.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselBrowse', data-slide-to='0')
      li(data-target='#carouselBrowse', data-slide-to='1')
      li(data-target='#carouselBrowse', data-slide-to='2')

    .carousel-inner
      .item.active
        img(src='/img/default.jpg', alt='/img/default.jpg')
        .carousel-caption
          | specific caption1
      .item
        img(src='/img/default2.jpeg', alt='/img/default.jpg')
        .carousel-caption
          | specific caption2
      .item
        img(src='/img/default3.jpeg', alt='/img/default.jpg')
        .carousel-caption
          | specific caption3
      |'

    a.left.carousel-control(href='#carouselBrowse', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#carouselBrowse', data-slide='next')
      span.glyphicon.glyphicon-chevron-right



  #filteredMatches









block scripts
  script(src='/js/es6/compiled/browse.js')
