extends ../shared/template


block content
  //- h3#carouselTitle Gamers near you!


  include ../shared/userCarousel

  .heading
    //- h1.activate Activate Your Love Life
  img.search(src='/img/dangerous.png')
  a.dashButton(href='/users')
  include ../games/chatrooms
