each game in games
  .gameContainer.well
    .div(data-id= game.id)
      if(game.image)
        .picture(data-url= game.image.thumb_url)
          img.image(src= game.image.thumb_url)
      .name= game.name
      button.addGame Add Game to favorites
