extends ../shared/template

block content
  #currentFavorites

    include currentFavorites
    each game in user.games
        .div(data-id= game.id)
        .picture(data-url= game.url)
          img(src= game.url)
        .name= game.title

    if(locals.user.userId)
      include currentFavorites

  input#search(type='text', placeholder='Search it dawg')
  button#submitSearch.btn-primary GOGOGOGO

  #results

block scripts
  script(src='/js/es6/compiled/index.js')
