extends ../shared/template

block content
  #currentFavorites
    include currentFavorites
  input#search(type='text', placeholder='Search it dawg')
  button#submitSearch.btn-primary GOGOGOGO

  #results

block scripts
  script(src='/js/es6/compiled/index.js')
