extends ../shared/template

block content
  input#search(type='text', placeholder='Search it dawg')
  button#submitSearch.btn-primary GOGOGOGO

block scripts
  script(src='/js/es6/compiled/index.js')
