.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h4#fakeLabel.modal-title= recipient.username
.modal-body
    #messages You will view your messages here
    //1 col = 6px
.modal-footer
  textarea#messageText(rows=1, cols=50)
  button.btn.btn-primary(type='button') Send