if(locals.user)
  each game in user.games
    .div(data-id= game.id)
      form
        input.gameId(type= 'hidden', name= 'gameId', value= game.id)
        button.deleteGame X
      .picture(data-url= game.url)
      img(src= game.url)
      .name= game.title