extends ../shared/template

block content
  #containGames
    #favorites
      include favorites

    #searchControls.well
      input#search(type='text', placeholder='Search Games')
      button#submitSearch.btn.btn-primary SEARCH

    #results

block scripts
  script(src='/js/es6/compiled/games.js')
  script(src='/js/es6/compiled/removeGame.js')

// USED TO BE users/games
// AKA THE SEARCH PAGE
