extends ../shared/template

block content
  #favorites
    include favorites

  input#search(type='text', placeholder='Search Games')
  button#submitSearch.btn-primary GOGOGOGO

  #results

block scripts
  script(src='/js/es6/compiled/games.js')
  script(src='/js/es6/compiled/removeGame.js')
