each game in games
  - var picture = game.image ? game.image.thumb_url : '/img/uhoh.jpg';
  .gameContainer.well
    .div(data-id= game.id)
      .picture(data-url= picture)
        img.image(src= picture)
      .name= game.name
      button.addGame Add Game to favorites
      .glyphicon.glyphicon-star-empty
